body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  background: linear-gradient(to bottom, #0E262A, #1D6D64);
}
#home {
  background: linear-gradient(to bottom, #0E262A, #154547);  /* Gradient from dark teal to lighter teal */
  text-align: center;
  padding: 50px 20px;
  color: white; /* Ensure the text is readable on the dark background */
}



main {
  padding: 20px;
}
